<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        let date = new Date();
        let formattedDate = date.toLocaleString();

        function sendRequest(element, type = 'GET') {

            url = $(element).data('url');

            $('#overlay').show();
            $('#loadingSpinner').show();
            $.ajax({
                url: url,
                type: type, // Nếu chỉ lấy danh sách Villa
                success: function (data) {
                    // Giả sử bạn hiển thị danh sách trong #villaList
                    $('#villaList').html(data);
                    console.log('Yeahhh, we got it');
                },
                url: '@Url.Action("Index", "Villa")',
                error: function (xhr, status, error) {
                    toastr.options.progressBar = true;
                    toastr.error('Oops! Somethings went wrong ' + formattedDate)
                },
                complete: function () {
                    $('#overlay').hide();
                    $('#loadingSpinner').hide();
                    console.log('Let celebrate');
                }
            });
        }
        $('#fetchVillaBtn').click(function () {
            sendRequest(this);
        });

        $('#fetchVillaNumberBtn').click(function () {
            sendRequest(this);
        });
        
        $('#fetchAmenityBtn').click(function (){
            sendRequest(this)
        });
    });
</script>


<div id="overlay" style="display: none;">
    <div id="processText" class="text-center text-center rounded-2 p-4">
        <div class="dots"></div>
    </div>
</div>
